<div class="content-wrapper">

				<!-- Page length options -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Consultar Clientes</h5>
						<div class="heading-elements">
							
							<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_form_vertical">Cadastrar Cliente <i class=" icon-user-plus position-right"></i></button>
							
							<button type="button" class="btn btn-success">Editar/Eliminar Cliente<i class=" icon-user-minus position-right"></i><a href="editar_eliminar_cliente.html"></a></button>
		                		
		                	
	                	</div>
					</div>

					<div class="panel-body">
						
					

					<table class="table datatable-show-all">
						<thead>
							<tr>
							<th>ID</th>
								<th>Nome/Razão Social</th>
								<th>CPF/CNPJ</th>
								<th>Celular</th>
								<th>Status</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>6</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>7</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
					<tr>
								<td>8</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>9</td>
							<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>10</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>11</td>
							<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>12</td>
							<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>13</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>14</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
							<tr>
								<td>15</td>
								<td> <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Lorrany Amorim</a></td>
								<td>99999999900</td>
								<td>31 998515217</td>
								<td><span class="label label-success">Ativo</span></td>
								<td class="text-center">
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /page length options -->


				<!-- modal cadastro -->
			<div id="modal_form_vertical" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h5 class="modal-title">Cadastrar Cliente</h5>
							</div>

							<form action="#">
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Nome/Razão Social</label>
												<input type="text" placeholder="Ex.: João da Silva" class="form-control">
											</div>

											<div class="col-sm-6">
												<label>CPF/CNPJ</label>
												<input type="text" placeholder="Ex.: 999.999.999-99" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Telefone</label>
												<input type="text" placeholder="Ex.: 31 3333-3333" class="form-control">
											</div>

											<div class="col-sm-6">
												<label>Celular</label>
												<input type="text" placeholder="Ex.: 31 99800-0000" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label>E-mail</label>
												<input type="text" placeholder="Ex.: exemplo@exemplo.com" class="form-control">
											</div>

											<div class="col-sm-4">
												<label>CEP</label>
												<input type="text" placeholder="Ex.: 00000-000" class="form-control">
											</div>

											<div class="col-sm-4">
												<label>Logradouro</label>
												<input type="text" placeholder="Ex.: Av, Rua, Alameda" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Número</label>
												<input type="text" placeholder="Ex.: 111" class="form-control">
												<
											</div>

											<div class="col-sm-6">
												<label>Bairro</label>
												<input type="text" placeholder="Ex.: Centro" class="form-control">
												</div>
											
											<div class="col-sm-6">
												<label>Cidade</label>
												<input type="text" placeholder="Contagem" class="form-control">
												
											</div>
											
											<div class="col-sm-6">
												<label>UF</label>
												<div class="form-group">
													<select name="select" class="form-control input-lg">
					                                    <option value="opt1">Selecione</option>
					                                    <option value="opt2">AC</option>
					                                    <option value="opt3">AL</option>
					                                    <option value="opt4">AP</option>
					                                    <option value="opt5">AM</option>
					                                    <option value="opt6">BA</option>
					                                    <option value="opt7">CE</option>
					                                    <option value="opt8">DF</option>
														<option value="opt8">ES</option>
														<option value="opt8">GO</option>
														<option value="opt8">MA</option>
														<option value="opt8">MT</option>
														<option value="opt8">MS</option>
														<option value="opt8">MG</option>
														<option value="opt8">PA</option>
														<option value="opt8">PB</option>
														<option value="opt8">PR</option>
														<option value="opt8">PE</option>
														<option value="opt8">PI</option>
														<option value="opt8">RJ</option>
														<option value="opt8">RN</option>
														<option value="opt8">RS</option>
														<option value="opt8">RO</option>
														<option value="opt8">RR</option>
														<option value="opt8">SC</option>
														<option value="opt8">SP</option>
														<option value="opt8">SE</option>
														<option value="opt8">TO</option>
													
					                                </select>
												</div>
											</div>
											
											<div class="form-group">
										<div class="row">
																						
											<div class="col-sm-6">
												<label>Status</label>
												<div class="form-group">
													<select name="select" class="form-control input-lg">
					                                    <option value="opt1">Selecione</option>
					                                    <option value="opt2">Ativo</option>
					                                    <option value="opt3">Inativo</option>
					                                    												
					                                </select>
												</div>
											</div>
											
										</div>
									</div>
											
										</div>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-primary">Cadastrar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- modal cadastro -->
				
				<!-- modal de dados -->
			<div id="modal_dados_vertical" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h5 class="modal-title">Dados do Cliente</h5>
							</div>

							<form action="#">
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Nome/Razão Social</label><br>
												Lorrany Amorim
											</div>

											<div class="col-sm-6">
												<label>CPF/CNPJ</label><br>
												111.111.111-00
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Telefone</label><br>
												31 3333-0000
											</div>

											<div class="col-sm-6">
												<label>Celular</label><br>
												31 9 9999-0000
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label>E-mail</label><br>
												lorranybatistaamorim@gmail.com.br
											</div>

											<div class="col-sm-4">
												<label>CEP</label><br>
												32000-000
											</div>

											<div class="col-sm-4">
												<label>Logradouro</label><br>
												Rua Petropólis
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Número</label><br>
												111A
											</div>

											<div class="col-sm-6">
												<label>Bairro</label><br>
												Industrial São Luiz
											</div>
											
											<div class="col-sm-6">
												<label>Cidade</label><br>
												Contagem
											</div>
											
											<div class="col-sm-6">
												<label>UF</label><br>
												MG
											</div>
											
										</div>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
									
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- modal de dados -->
				
				
				
				<!-- Basic modal -->
				<div id="modal_default" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h5 class="modal-title">Dados do Cliente</h5>
							</div>

							<div class="modal-body">
								<h6 class="text-semibold">Nome/Razão Social:</h6>
								<p>Lorrany Batista de Amorim</p>
								
								<h6 class="text-semibold">CPF/CNPJ:</h6>
								99999999900
								
								<h6 class="text-semibold">Telefone:</h6>
								31 33981019
								
								<h6 class="text-semibold">Celular:</h6>
								31 998515217
								
								<h6 class="text-semibold">E-mail:</h6>
								lorranybatistaamorim@gmail.com
								
								<h6 class="text-semibold">CEP:</h6>
								31073010
								
								<h6 class="text-semibold">Logradouro:</h6>
								Rua Petropólis 
								
								<h6 class="text-semibold">Número:</h6>
								539
								
								<h6 class="text-semibold">Bairro:</h6>
								Industrial São Luiz
								
								<h6 class="text-semibold">Cidade:</h6>
								Contagem
								
								<h6 class="text-semibold">UF:</h6>
								MG

								
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								
							</div>
						</div>
					</div>
				</div>
				<!-- /basic modal -->


			

			</div>