<div class="sidebar-content">
						
  <!-- Main navigation -->
  <div class="sidebar-category sidebar-category-visible">
    
    
    <div class="category-content no-padding">
      <ul class="navigation navigation-main navigation-accordion">
        
        <!-- Main -->
        
        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Main pages"></i></li>
        <li><a href="" data-toggle="modal" data-target="#modal_theme_danger"><i class=" icon-home2"></i> <span>Home</span></a></li>
        <li><a routerLink="../../fluxo"><i class=" icon-cash3"></i> <span>Movimento de Caixa</span></a></li>
        <li><a data-toggle="modal" data-target="#modal_form_vertical_abcaixa"><i class="  icon-enter"></i> <span>Abrir Caixa</span></a></li>
        <li><a routerLink="estorno"><i class=" icon-reply"></i> <span>Estorno de Venda</span></a></li>
        <li><a data-toggle="modal" data-target="#modal_theme_danger_f"><i class="  icon-exit"></i> <span>Fechar Caixa</span></a></li>	
        <li><a routerLink="resumodia"><i class="   icon-list-unordered"></i> <span>Resumo do Dia</span></a></li>
        
        
        <!-- /main -->
      </ul>
    </div>
  </div>
  <!-- /main navigation -->
  
</div>
