<app-navbar></app-navbar>
<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
      <app-sidebar></app-sidebar>
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Page length options -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Editar e Eliminar Clientes</h5>
          <div class="heading-elements">



          </div>
        </div>

        <div class="panel-body">

        </div>

        <table class="table datatable-show-all">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome/Razão Social</th>
              <th>CPF/CNPJ</th>
              <th>Celular</th>
              <th>Status</th>


            </tr>
          </thead>
          <tbody>

            <!-- Loop para exibição de clientes -->
            <tr *ngFor="let c of clientes">
              <td>{{c.id}}</td>
              <td>{{c.nome}}</td>
              <td>{{c.cpf}}</td>
              <td>{{c.telefone}}</td>
              <td>
                <span class="label label-success">{{c.status}}</span>
              </td>
              <td class="text-center">
                <ul class="icons-list">
                  <li class="dropdown">

                    <ul class="icons-list">
                      <li class="text-primary-600">
                        <a class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></a>
                      </li>
                      <li class="text-danger-600">
                        <a class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- /page length options -->

      <!-- Modal de delete -->
      <div id="modal_theme_danger" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h6 class="modal-title">AVISO!</h6>
            </div>

            <div class="modal-body">
              <h6 class="text-semibold">Tem certeza que deseja excluir este cadastro?</h6>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal">Não</button>
              <button type="button" class="btn btn-danger">Sim</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal de delete -->


      <!-- Modal de edição de dados -->
      <div id="modal_form_vertical" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Editar Dados do Cliente</h5>
            </div>

            <form action="#">
              <div class="modal-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Nome/Razão Social</label>
                      <input type="text" placeholder="Ex.: João da Silva" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>CPF/CNPJ</label>
                      <input type="text" placeholder="Ex.: 999.999.999-99" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Telefone</label>
                      <input type="text" placeholder="Ex.: 31 3333-3333" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>Celular</label>
                      <input type="text" placeholder="Ex.: 31 99800-0000" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-4">
                      <label>E-mail</label>
                      <input type="text" placeholder="Ex.: exemplo@exemplo.com" class="form-control">
                    </div>

                    <div class="col-sm-4">
                      <label>CEP</label>
                      <input type="text" placeholder="Ex.: 00000-000" class="form-control">
                    </div>

                    <div class="col-sm-4">
                      <label>Logradouro</label>
                      <input type="text" placeholder="Ex.: Av, Rua, Alameda" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Número</label>
                      <input type="text" placeholder="Ex.: 111" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>Bairro</label>
                      <input type="text" placeholder="Ex.: Centro" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>Cidade</label>
                      <input type="text" placeholder="Contagem" class="form-control">

                    </div>

                    <div class="col-sm-6">
                      <label>UF</label>
                      <!--(comentei pq achei q n precisava)div class="form-group"-->
                      <select name="select" class="form-control input-lg">
                        <option value="opt1">Selecione</option>
                        <option value="opt2">AC</option>
                        <option value="opt3">AL</option>
                        <option value="opt4">AP</option>
                        <option value="opt5">AM</option>
                        <option value="opt6">BA</option>
                        <option value="opt7">CE</option>
                        <option value="opt9">DF</option>
                        <option value="opt10">ES</option>
                        <option value="opt11">GO</option>
                        <option value="opt12">MA</option>
                        <option value="opt13">MT</option>
                        <option value="opt14">MS</option>
                        <option value="opt15">MG</option>
                        <option value="opt16">PA</option>
                        <option value="opt17">PB</option>
                        <option value="opt18">PR</option>
                        <option value="opt19">PE</option>
                        <option value="opt20">PI</option>
                        <option value="opt21">RJ</option>
                        <option value="opt22">RN</option>
                        <option value="opt23">RS</option>
                        <option value="opt24">RO</option>
                        <option value="opt25">RR</option>
                        <option value="opt26">SC</option>
                        <option value="opt27">SP</option>
                        <option value="opt28">SE</option>
                        <option value="opt29">TO</option>
                      </select>
                      <!--/div-->
                    </div>

                    <!--(comentei pq achei q n precisava)div class="form-group"-->
                    <!--(comentei pq achei q n precisava)div class="row"-->

                    <div class="col-sm-6">
                      <label>Status</label>
                      <div class="form-group">
                        <select name="select" class="form-control input-lg">
                          <option value="opt1">Selecione</option>
                          <option value="opt2">Ativo</option>
                          <option value="opt3">Inativo</option>
                        </select>
                      </div>
                    </div>

                    <!--/div-->
                    <!--/div-->

                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Modal de edição de dados -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
