
<body class="navbar-bottom">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse bg-indigo">
		<div class="navbar-header">
			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			

			<ul class="nav navbar-nav navbar-right">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>	
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="assets/images/flags/gb.png" class="position-left" alt="">
						Inglês
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a class="deutsch"><img src="assets/images/flags/de.png" alt=""> Deuts ch</a></li>
						<li><a class="ukrainian"><img src="assets/images/flags/ua.png" alt=""> Українська</a></li>
						<li><a class="english"><img src="assets/images/flags/gb.png" alt=""> English</a></li>
						<li><a class="espana"><img src="assets/images/flags/es.png" alt=""> España</a></li>
						<li><a class="russian"><img src="assets/images/flags/ru.png" alt=""> Русский</a></li>
					</ul>
				</li>
			</ul>
			
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page header -->
	<div class="page-header">
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
				<li class="active">Dashboard</li>
			</ul>

			<ul class="breadcrumb-elements">
				<li><a href="#"><i class="icon-comment-discussion position-left"></i> Suporte</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-gear position-left"></i>
						Configurações
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-lock"></i> Segurança da conta</a></li>
						<li><a href="#"><i class="icon-statistics"></i> Análise</a></li>
						<li><a href="#"><i class="icon-accessibility"></i> Acessibilidade</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-gear"></i> Todas configurações</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard <small>Olá, {{ Nome }}</small></h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-bars-alt text-indigo-400"></i><span>Estatísticas</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calculator text-indigo-400"></i><span>Faturamento</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calendar5 text-indigo-400"></i><span>Cronograma</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">

					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="sidebar-user-material">
							<div class="category-content">
								<div class="sidebar-user-material-content">
									<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-responsive" alt=""></a>
									<h6>Juscleide da Silva Baker</h6>
									<span class="text-size-small">Contagem, MG</span>
								</div>
															
								<div class="sidebar-user-material-menu">
									<a href="#user-nav" data-toggle="collapse"><span>Minha conta</span> <i class="caret"></i></a>
								</div>
							</div>
							
							<div class="navigation-wrapper collapse" id="user-nav">
								<ul class="navigation">
									<li><a href="#"><i class="icon-user-plus"></i> <span>Meu Perfil</span></a></li>
									<li><a href="#"><i class="icon-coins"></i> <span>Minhas finanças</span></a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="icon-cog5"></i> <span>Configurações da conta</span></a></li>
									<li><a href="#"><i class="icon-switch2"></i> <span>Sair</span></a></li>
								</ul>
							</div>
						</div>

						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								<li class="active"><a href="index.html"><i class="icon-home4"></i> <span>Início</span></a></li>
								<li><a href="#"><i class=" icon-cash3"></i> <span>Fluxo de caixa</span></a></li>
								<li>
									<a href="#"><i class="icon-user-plus"></i> <span>Cliente</span></a>
									<ul>
										<li><a href="#">Cadastrar cliente</a></li>
										<li><a href="#">Consultar cliente</a></li>
										<li><a href="#">Eliminar / Editar cadastro</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><i class="icon-wrench"></i> <span>Serviço</span></a>
									<ul>
										<li><a href="#" id="layout1">Cadastrar serviço</a></li>
										<li><a href="#" id="layout2">Consultar serviço</a></li>
										<li><a href="#" id="layout3">Eliminar / Editar serviço</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><i class="icon-price-tag"></i> <span>Produto</span></a>
									<ul>
										<li><a href="#">Cadastrar produto</a></li>
										<li><a href="#">Consultar produto</a></li>
										<li><a href="#">Eliminar / Cadastrar produto</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><i class="icon-coins"></i> <span>Recebimento</span></a>
									<ul>
										<li><a href="#">Cadastrar recebimento</a></li>
										<li><a href="#">Consultar recebimento</a></li>
									</ul>
								</li>
								<li><a href="#"><i class="icon-pencil7"></i> <span>Despesas</span></a>
									<ul>
										<li><a href="#">Consultar Despesas</a></li>
									</ul>
								</li>
								<li><a href="#"><i class="icon-stats-growth"></i> <span>Análise de dados</span></a></li>
								
								<!-- /main -->
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Main charts -->
				<div class="row">
					<div class="col-lg-6">

						<!-- gráfico de clientes -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Gráfico de clientes</h6>
								<div class="heading-elements">
									<form class="heading-form" action="#">
										<div class="form-group">
											<label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
												<input type="checkbox" class="switch" checked="checked">
												Em tempo real:
											</label>
										</div>
									</form>
								</div>
							</div>

							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-4">
										<ul class="list-inline text-center">
											<li>
												<a href="#" class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-plus3"></i></a>
											</li>
											<li class="text-left">
												<div class="text-semibold">Número de clientes</div>
												<div class="text-muted">134</div>
											</li>
										</ul>

										<div class="col-lg-10 col-lg-offset-1">
											<div class="content-group" id="new-visitors"></div>
										</div>
									</div>

									<div class="col-lg-4">
										<ul class="list-inline text-center">
											<li>
												<a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-watch2"></i></a>
											</li>
											<li class="text-left">
												<div class="text-semibold">bla bla bla bla bla bla</div>
												<div class="text-muted">08:20 avg</div>
											</li>
										</ul>

										<div class="col-lg-10 col-lg-offset-1">
											<div class="content-group" id="new-sessions"></div>
										</div>
									</div>

									<div class="col-lg-4">
										<ul class="list-inline text-center">
											<li>
												<a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-icon btn-xs valign-text-bottom"><i class="icon-people"></i></a>
											</li>
											<li class="text-left">
												<div class="text-semibold">Total de compras</div>
												<div class="text-muted"><span class="status-mark border-success position-left"></span> 1847</div>
											</li>
										</ul>

										<div class="col-lg-10 col-lg-offset-1">
											<div class="content-group" id="total-online"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="position-relative" id="traffic-sources"></div>
						</div>
						<!-- /gráfico de clientes -->

					</div>

					<div class="col-lg-6">

						<!-- estatísticas de venda -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Estatísticas de venda</h6>
								<div class="heading-elements">
									<form class="heading-form" action="#">
										<div class="form-group">
											<select class="change-date select-sm" id="select_date">
												<optgroup label="<i class='icon-watch pull-right'></i> Periodo de tempo">
													<option value="val2">Janeiro, 3 - Fevereiro 3</option>
													<option value="val3" selected="selected">Março, 3 - Maio, 3</option>
												</optgroup>
											</select>
										</div>
									</form>
			                	</div>
							</div>

							<div class="container-fluid">
								<div class="row text-center">
									<div class="col-md-4">
										<div class="content-group">
											<h5 class="text-semibold no-margin"><i class="icon-calendar5 position-left text-slate"></i> 12</h5>
											<span class="text-muted text-size-small">Vendas semanais</span>
										</div>
									</div>

									<div class="col-md-4">
										<div class="content-group">
											<h5 class="text-semibold no-margin"><i class="icon-calendar52 position-left text-slate"></i> 149</h5>
											<span class="text-muted text-size-small">Vendas mensais</span>
										</div>
									</div>

									<div class="col-md-4">
										<div class="content-group">
											<h5 class="text-semibold no-margin"><i class="icon-cash3 position-left text-slate"></i> $9999</h5>
											<span class="text-muted text-size-small">Lucro total do mês</span>
										</div>
									</div>
								</div>
							</div>

							<div class="content-group-sm" id="app_sales"></div>
							<div id="monthly-sales-stats"></div>
						</div>
						<!-- /estatísticas de venda -->

					</div>
				</div>
				<!-- /main charts -->


				<!-- Dashboard content -->
				<div class="row">
					<div class="col-lg-6">
						<!-- Daily sales -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Status de venda diária</h6>
								<div class="heading-elements">
									<span class="heading-text">Saldo: <span class="text-bold text-danger-600 position-right">R$4.378</span></span>
									<ul class="icons-list">
				                		<li class="dropdown text-muted">
				                			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-sync"></i> Update data</a></li>
												<li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
												<li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
											</ul>
				                		</li>
				                	</ul>
								</div>
							</div>

							<div class="panel-body">
								<div id="sales-heatmap"></div>
							</div>

							<div class="table-responsive">
								<table class="table text-nowrap">
									<thead>
										<tr>
											<th>Item</th>
											<th>horário</th>
											<th>Valor</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="media-left media-middle">
													<a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
														<span class="letter-icon"></span>
													</a>
												</div>

												<div class="media-body">
													<div class="media-heading">
														<a href="#" class="letter-icon-title">Sigma application</a>
													</div>

													<div class="text-muted text-size-small"><i class="icon-checkmark3 text-size-mini position-left"></i> New order</div>
												</div>
											</td>
											<td>
												<span class="text-muted text-size-small">06:28 pm</span>
											</td>
											<td>
												<h6 class="text-semibold no-margin">R$49.90</h6>
											</td>
										</tr>

										<tr>
											<td>
												<div class="media-left media-middle">
													<a href="#" class="btn bg-danger-400 btn-rounded btn-icon btn-xs">
														<span class="letter-icon"></span>
													</a>
												</div>

												<div class="media-body">
													<div class="media-heading">
														<a href="#" class="letter-icon-title">Alpha application</a>
													</div>

													<div class="text-muted text-size-small"><i class="icon-spinner11 text-size-mini position-left"></i> Renewal</div>
												</div>
											</td>
											<td>
												<span class="text-muted text-size-small">04:52 pm</span>
											</td>
											<td>
												<h6 class="text-semibold no-margin">R$90.50</h6>
											</td>
										</tr>

										<tr>
											<td>
												<div class="media-left media-middle">
													<a href="#" class="btn bg-indigo-400 btn-rounded btn-icon btn-xs">
														<span class="letter-icon"></span>
													</a>
												</div>

												<div class="media-body">
													<div class="media-heading">
														<a href="#" class="letter-icon-title">Delta application</a>
													</div>

													<div class="text-muted text-size-small"><i class="icon-lifebuoy text-size-mini position-left"></i> Support</div>
												</div>
											</td>
											<td>
												<span class="text-muted text-size-small">01:26 pm</span>
											</td>
											<td>
												<h6 class="text-semibold no-margin">R$60.00</h6>
											</td>
										</tr>

										<tr>
											<td>
												<div class="media-left media-middle">
													<a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
														<span class="letter-icon"></span>
													</a>
												</div>

												<div class="media-body">
													<div class="media-heading">
														<a href="#" class="letter-icon-title">Omega application</a>
													</div>

													<div class="text-muted text-size-small"><i class="icon-lifebuoy text-size-mini position-left"></i> Support</div>
												</div>
											</td>
											<td>
												<span class="text-muted text-size-small">11:46 am</span>
											</td>
											<td>
												<h6 class="text-semibold no-margin">R$55.00</h6>
											</td>
										</tr>

										<tr>
											<td>
												<div class="media-left media-middle">
													<a href="#" class="btn bg-danger-400 btn-rounded btn-icon btn-xs">
														<span class="letter-icon"></span>
													</a>
												</div>

												<div class="media-body">
													<div class="media-heading">
														<a href="#" class="letter-icon-title">Alpha application</a>
													</div>

													<div class="text-muted text-size-small"><i class="icon-spinner11 text-size-mini position-left"></i> Renewal</div>
												</div>
											</td>
											<td>
												<span class="text-muted text-size-small">10:29 am</span>
											</td>
											<td>
												<h6 class="text-semibold no-margin">R$90.50</h6>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
						</div>
						<!-- /daily sales -->

						<!-- status de finanças -->
						<div class="col-lg-6">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Relatório das vendas</h6>
									<div class="heading-elements">
										<form class="heading-form" action="#">
											<div class="form-group">
												<label class="checkbox checkbox-inline checkbox-switchery checkbox-right switchery-xs">
													<input type="checkbox" class="switcher" id="realtime" checked="checked">
													Tempo real
												</label>
											</div>
										</form>
										<span class="badge bg-danger-400 heading-text">+86</span>
									</div>
								</div>

								<div class="panel-body">
									<ul class="media-list">
										<li class="media">
											<div class="media-left">
												<a href="#" class="btn border-pink text-pink btn-flat btn-rounded btn-icon btn-xs"><i class="icon-statistics"></i></a>
											</div>

											<div class="media-body">
												Stats for July, 6: 1938 orders, $4220 revenue
												<div class="media-annotation">2 hours ago</div>
											</div>

											<div class="media-right media-middle">
												<ul class="icons-list">
													<li>
							    	                	<a href="#"><i class="icon-arrow-right13"></i></a>
						        	            	</li>
					            	        	</ul>
											</div>
										</li>

										<li class="media">
											<div class="media-left">
												<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-xs"><i class="icon-checkmark3"></i></a>
											</div>

											<div class="media-body">
												Invoices <a href="#">#4732</a> and <a href="#">#4734</a> have been paid
												<div class="media-annotation">Dec 18, 18:36</div>
											</div>

											<div class="media-right media-middle">
												<ul class="icons-list">
													<li>
							    	                	<a href="#"><i class="icon-arrow-right13"></i></a>
						        	            	</li>
					            	        	</ul>
											</div>
										</li>

										<li class="media">
											<div class="media-left">
												<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-xs"><i class="icon-alignment-unalign"></i></a>
											</div>

											<div class="media-body">
												Affiliate commission for June has been paid
												<div class="media-annotation">36 minutes ago</div>
											</div>

											<div class="media-right media-middle">
												<ul class="icons-list">
													<li>
							    	                	<a href="#"><i class="icon-arrow-right13"></i></a>
						        	            	</li>
					            	        	</ul>
											</div>
										</li>

										<li class="media">
											<div class="media-left">
												<a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
											</div>

											<div class="media-body">
												Order <a href="#">#37745</a> from July, 1st has been refunded
												<div class="media-annotation">4 minutes ago</div>
											</div>

											<div class="media-right media-middle">
												<ul class="icons-list">
													<li>
							    	                	<a href="#"><i class="icon-arrow-right13"></i></a>
						        	            	</li>
					            	        	</ul>
											</div>
										</li>

										<li class="media">
											<div class="media-left">
												<a href="#" class="btn border-teal-400 text-teal btn-flat btn-rounded btn-icon btn-xs"><i class="icon-redo2"></i></a>
											</div>

											<div class="media-body">
												Invoice <a href="#">#4769</a> has been sent to <a href="#">Robert Smith</a>
												<div class="media-annotation">Dec 12, 05:46</div>
											</div>

											<div class="media-right media-middle">
												<ul class="icons-list">
													<li>
							    	                	<a href="#"><i class="icon-arrow-right13"></i></a>
						        	            	</li>
					            	        	</ul>
											</div>
										</li>
									</ul>
								</div>	
							</div>
						</div>
						<!-- /status de finanças -->	
					</div>
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->




	<!-- Footer -->
	<div class="navbar navbar-default navbar-fixed-bottom footer">
		<ul class="nav navbar-nav visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
		</ul>
	</div>
	<!-- /footer -->

</body>
