<app-navbar>
</app-navbar>
<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
      <app-sidebar></app-sidebar>
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Page length options -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Despesa</h5>
          <div class="heading-elements">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_form_vertical">Cadastrar Despesa
              <i class=" icon-diff-added position-right"></i>
            </button>


          </div>
        </div>

        <div class="panel-body">

        </div>

        <table class="table datatable-show-all">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descrição Despesa</th>
              <th>Para</th>
              <th>Tipo</th>
              <th>Valor</th>
              <th>Editar/Eliminar</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0001</td>
              <td>Conta de Água</td>
              <td>Copasa</td>
              <td>Contas</td>
              <td>235,00</td>
              <td class="text-center">
                <ul class="icons-list">
                  <li class="dropdown">

                    <ul class="icons-list">
                      <li class="text-primary-600">
                        <a>
                          <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical_editar"></i>
                        </a>
                      </li>
                      <li class="text-danger-600">
                        <a>
                          <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                        </a>
                      </li>


                    </ul>
                  </li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- /page length options -->

      <!-- Modal de delete -->
      <div id="modal_theme_danger" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h6 class="modal-title">AVISO!</h6>
            </div>

            <div class="modal-body">
              
                <h6 class="text-semibold">Tem certeza que deseja excluir este cadastro?</h6>
              
            </div>

            <div class="modal-footer">
              
                <button type="button" class="btn btn-link" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-danger">SIM!</button>
              
            </div>
          </div>
        </div>
      </div>
      <!-- Modal de delete -->


      <!-- Modal de cadastro  -->
      <div id="modal_form_vertical" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Cadastrar Despesa</h5>
            </div>

            <form action="#">
              <div class="modal-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Descrição</label>
                      <input type="text" placeholder="Ex.: Conta de Água" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>Para</label>
                      <input type="text" placeholder="Ex.: Copasa" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Tipo</label>
                      <input type="text" placeholder="Ex.: Contas" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>Valor</label>
                      <input type="text" placeholder="Ex.: R$250,00" class="form-control">
                    </div>
                  </div>
                </div>
              </div>



              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal de cadastro/ -->


      <!-- Modal de edição  -->
      <div id="modal_form_vertical_editar" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Editar Cadastro</h5>
            </div>

            <form action="#">
              <div class="modal-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Descrição</label>
                      <input type="text" placeholder="Ex.: Conta de Água" class="form-control">
                    </div>

                    <div class="col-sm-6">
                      <label>Tipo</label>
                      <input type="text" placeholder="Ex.: Conta" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Valor</label>
                      <input type="text" placeholder="Ex.: R$250,00" class="form-control">
                    </div>
                  </div>
                </div>
              </div>



              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal de edição/ -->






    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
