<app-navbar></app-navbar>
<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
      <app-sidebar></app-sidebar>
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Page length options -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Editar e Eliminar Produtos</h5>
          <div class="heading-elements">
          </div>
        </div>

        <div class="panel-body">

          <table class="table datatable-show-all">
            <thead>
              <tr>
                <th>Código do Produto</th>
                <th>Nome do Produto</th>
                <th>Quantidade Padrão</th>
                <th>Valor</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Marmitex PQ</td>
                <td>1</td>
                <td>9,00</td>
                <td>
                  <span class="label label-success">Ativo</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></i>
                        </li>
                        <li class="text-danger-600">
                          <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                        </li>

                      </ul>
                    </li>
                  </ul>
                </td>

              </tr>
              <tr>
                <td>2</td>
                <td>
                  <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Marmitex GR</a>
                </td>
                <td>1</td>
                <td>12,00</td>
                <td>
                  <span class="label label-success">Ativo</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a href="#">
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a href="#">
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Acrésimo de Carne</a>
                </td>
                <td>2</td>
                <td>3,50</td>
                <td>
                  <span class="label label-success">Ativo</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a href="#">
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a href="#">
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Suco Natural Laranja</a>
                </td>
                <td>300ml</td>
                <td>4,00</td>
                <td>
                  <span class="label label-success">Ativo</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a href="#">
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a href="#">
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Suco Natural Maracujá</a>
                </td>
                <td>300ml</td>
                <td>4,00</td>
                <td>
                  <span class="label label-danger">Inativo</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a href="#">
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a href="#">
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  <a href="" data-toggle="modal" data-target="#modal_dados_vertical">Coca-Cola</a>
                </td>
                <td>2Litros</td>
                <td>6,50</td>
                <td>
                  <span class="label label-success">Ativo</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a href="#">
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a href="#">
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
        <!-- /page length options -->
        <!-- Modal de delete -->
        <div id="modal_theme_danger" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">AVISO!</h6>
              </div>

              <div class="modal-body">
                <h6 class="text-semibold">Tem certeza que deseja excluir este cadastro?</h6>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-danger">SIM!</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal de delete -->


        <!-- Modal de edição de dados -->
        <div id="modal_form_vertical" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Cadastrar Produto</h5>
              </div>

              <form action="#">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Nome do Produto</label>
                        <input type="text" placeholder="Ex.: Caixa" class="form-control">
                      </div>

                      <div class="col-sm-6">
                        <label>Unidade de Medida</label>
                        <input type="text" placeholder="Ex.: PC, UN, MT, L, ML" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Quantidade Padrão</label>
                        <input type="text" placeholder="Ex.: Pacotes" class="form-control">
                      </div>

                      <div class="col-sm-6">
                        <label>Valor</label>
                        <input type="text" placeholder="Ex.: R$0,00" class="form-control">
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="row">

                      <div class="col-sm-6">
                        <label>Status</label>
                        <div class="form-group">
                          <select name="select" class="form-control input-lg">
                            <option value="opt1">Selecione</option>
                            <option value="opt2">Ativo</option>
                            <option value="opt3">Inativo</option>

                          </select>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal de edição de dados -->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /footer -->
