<app-navbar></app-navbar>
<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
      <app-sidebar></app-sidebar>
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">


      <!-- Page length options -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title"> Clientes</h5>
          <div class="heading-elements">

            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_form_vertical">Cadastrar Cliente
              <i class=" icon-user-plus position-right"></i>
            </button>

            


          </div>
        </div>

        <div class="panel-body">



          <table class="table datatable-show-all">
            <thead>
              <tr >
                <th>Código Cliente </th>
                <th>Nome/Razão Social</th>
                <th>CPF/CNPJ</th>
                <th>Celular</th>
                <th>Status</th>
                <th>Editar/Elimar</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clientes|async">
                <td>{{c.CodigoCliente}}</td>
                <td>
                  {{c.NomeRazao}}
                </td>
                <td>{{c.CpfCnpj}}</td>
                <td>{{c.Celular}}</td>
                <td>
                  <span class="label label-success">{{c.Status}}</span>
                </td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a (click)="recebeselect(c.key)">
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical_editar"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a (click)="recebeselect(c.key)">
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <!-- /page length options -->


        <!-- modal cadastro -->
        <div id="modal_form_vertical" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Cadastrar Cliente</h5>
              </div>

              <form #cadastrocliente="ngForm" (ngSubmit)="createcliente(cadastrocliente)">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-2">
                        <label>Código Cliente</label>
                        <input type="text" placeholder="Ex: 025" class="form-control" ngModel name="codproduto" ngModel pattern="[0-9]">
                      </div><br>
                      <div class="col-sm-6">
                        <label>Nome/Razão Social</label>
                        <input type="text" placeholder="Ex.: João da Silva" name="nome" ngModel class="form-control">
                      </div>
 
                      <div class="col-sm-4">
                        <label>CPF/CNPJ</label>
                        <input type="text" placeholder="Ex.: 999.999.999-99"name="cpf" ngModel class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Telefone</label>
                        <input type="text" placeholder="Ex.: 31 3333-3333" class="form-control " name="telefone" ngModel pattern="[0-9]">
                      </div>

                      <div class="col-sm-6">
                        <label>Celular</label>
                        <input type="text" placeholder="Ex.: 31 99800-0000" class="form-control " name="celular" ngModel pattern="[0-9]">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4">
                        <label>E-mail</label>
                        <input type="text" placeholder="Ex.: exemplo@exemplo.com" class="form-control" name="email" ngModel > 
                      </div>

                      <div class="col-sm-4">
                        <label>CEP</label>
                        <input type="text" placeholder="Ex.: 00000-000" class="form-control" name="cep" ngModel pattern="[0-9]">
                      </div>

                      <div class="col-sm-4">
                        <label>Logradouro</label>
                        <input type="text" placeholder="Ex.: Av, Rua, Alameda" class="form-control" name="rua" ngModel>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4">
                        <label>Número</label>
                        <input type="text" placeholder="Ex.: 111" class="form-control" ngModel name="numerocasa"pattern="[0-9]">
                         </div>

                          <div class="col-sm-4">
                            <label>Bairro</label>
                            <input type="text" placeholder="Ex.: Centro" ngModel name="bairrocasa"class="form-control">
                          </div>

                          <div class="col-sm-4">
                            <label>Cidade</label>
                            <input type="text" placeholder="Ex:Contagem" ngModel name="cidade" class="form-control">

                          </div>

                          

                          <div class="form-group">
                            <div class="row">
                              
                              <div class="col-sm-3">
                                <label>UF</label>
                                <div class="form-group">
                                  <select name="selectEstados" [(ngModel)]="opestado"class="form-control input-lg">
                                    <option value="">Selecione</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
    
                                  </select>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <label>Status</label>
                                <div class="form-group">
                                  <select name="select" [(ngModel)]="opstatus"class="form-control input-lg">
                                    <option value="opt1">Selecione</option>
                                    <option value="Ativo">Ativo</option>
                                    <option value="Inativo">Inativo</option>

                                  </select>
                                </div>
                              </div>

                            </div>
                          </div>

                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
          <!-- modal cadastro -->
           <!-- inicio modal editar cliente -->
        <div id="modal_form_vertical_editar" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title">Editar Cliente</h5>
                </div>
  
                <form #editarcliente="ngForm" (ngSubmit)="updatecliente(editarcliente)">
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-2">
                          <label>Código Cliente</label>
                          <input type="text" placeholder="Ex: 025" class="form-control" ngModel name="codproduto" ngModel pattern="[0-9]">
                        </div><br>
                        <div class="col-sm-6">
                          <label>Nome/Razão Social</label>
                          <input type="text" placeholder="Ex.: João da Silva" name="nome" ngModel class="form-control">
                        </div>
   
                        <div class="col-sm-4">
                          <label>CPF/CNPJ</label>
                          <input type="text" placeholder="Ex.: 999.999.999-99"name="cpf" ngModel class="form-control">
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6">
                          <label>Telefone</label>
                          <input type="text" placeholder="Ex.: 31 3333-3333" class="form-control " name="telefone" ngModel pattern="[0-9]">
                        </div>
  
                        <div class="col-sm-6">
                          <label>Celular</label>
                          <input type="text" placeholder="Ex.: 31 99800-0000" class="form-control " name="celular" ngModel pattern="[0-9]">
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4">
                          <label>E-mail</label>
                          <input type="text" placeholder="Ex.: exemplo@exemplo.com" class="form-control" name="email" ngModel > 
                        </div>
  
                        <div class="col-sm-4">
                          <label>CEP</label>
                          <input type="text" placeholder="Ex.: 00000-000" class="form-control" name="cep" ngModel pattern="[0-9]">
                        </div>
  
                        <div class="col-sm-4">
                          <label>Logradouro</label>
                          <input type="text" placeholder="Ex.: Av, Rua, Alameda" class="form-control" name="rua" ngModel>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4">
                          <label>Número</label>
                          <input type="text" placeholder="Ex.: 111" class="form-control" ngModel name="numerocasa"pattern="[0-9]">
                           </div>
  
                            <div class="col-sm-4">
                              <label>Bairro</label>
                              <input type="text" placeholder="Ex.: Centro" ngModel name="bairrocasa"class="form-control">
                            </div>
  
                            <div class="col-sm-4">
                              <label>Cidade</label>
                              <input type="text" placeholder="Ex:Contagem" ngModel name="cidade" class="form-control">
  
                            </div>
  
                            <div class="col-sm-2">
                              <label>UF</label>
                              <div class="form-group">
                                <select name="select" [(ngModel)]="opestado"class="form-control input-lg">
                                  <option value="">Selecione</option>
                                  <option value="AC">AC</option>
                                  <option value="AL">AL</option>
                                  <option value="AP">AP</option>
                                  <option value="AM">AM</option>
                                  <option value="BA">BA</option>
                                  <option value="CE">CE</option>
                                  <option value="DF">DF</option>
                                  <option value="ES">ES</option>
                                  <option value="GO">GO</option>
                                  <option value="MA">MA</option>
                                  <option value="MT">MT</option>
                                  <option value="MS">MS</option>
                                  <option value="MG">MG</option>
                                  <option value="PA">PA</option>
                                  <option value="PB">PB</option>
                                  <option value="PR">PR</option>
                                  <option value="PE">PE</option>
                                  <option value="PI">PI</option>
                                  <option value="RJ">RJ</option>
                                  <option value="RN">RN</option>
                                  <option value="RS">RS</option>
                                  <option value="RO">RO</option>
                                  <option value="RR">RR</option>
                                  <option value="SC">SC</option>
                                  <option value="SP">SP</option>
                                  <option value="SE">SE</option>
                                  <option value="TO">TO</option>
  
                                </select>
                              </div>
                            </div>
  
                            <div class="form-group">
                              <div class="row">
  
                                <div class="col-sm-2">
                                  <label>Status</label>
                                  <div class="form-group">
                                    <select name="select" [(ngModel)]="opstatus"class="form-control input-lg">
                                      <option value="opt1">Selecione</option>
                                      <option value="Ativo">Ativo</option>
                                      <option value="Inativo">Inativo</option>
  
                                    </select>
                                  </div>
                                </div>
  
                              </div>
                            </div>
  
                        </div>
                      </div>
                    </div>
  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
                </div>
              </div>
            </div>
            <!-- fim modal editar cliente -->
          
          

          <!-- Modal de delete -->
        <div id="modal_theme_danger" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">AVISO!</h6>
              </div>

              <div class="modal-body">
                <h6 class="text-semibold">Tem certeza que deseja excluir este cadastro?</h6>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Não</button>
                <button type="button" (click)="deletarcliente()" class="btn btn-danger">SIM!</button>

              </div>
            </div>
          </div>
        </div>
        <!-- Modal de delete -->


        </div>
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /footer -->
