<app-navbar></app-navbar>
<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default">
      <app-sidebar></app-sidebar>
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Page length options -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Consultar Produtos</h5>
          <div class="heading-elements">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_form_vertical">Cadastrar Produto/Serviço
              <i class=" icon-diff-added position-right"></i>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <table class="table datatable-show-all">
            <thead>
              <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Quant/Estoque</th>
                <th>Valor</th>
                <th>Editar/Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of produtos | async ">
                <td>{{p.CodProduto}}</td>
                <td>{{p.NomeProdutoServico}}</td>
                <td>{{p.Tipo}}</td>
                <td>{{p.Estoque}}</td>
                <td>R${{p.PrecoVenda}}</td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">

                      <ul class="icons-list">
                        <li class="text-primary-600">
                          <a>
                            <i class="icon-pencil7" data-toggle="modal" data-target="#modal_form_vertical_editar"></i>
                          </a>
                        </li>
                        <li class="text-danger-600">
                          <a>
                            <i class="icon-trash" data-toggle="modal" data-target="#modal_theme_danger"></i>
                          </a>
                        </li>


                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>



            </tbody>
          </table>
        </div>
        <!-- /page length options -->

        <!-- Modal de delete -->
        <div id="modal_theme_danger" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">AVISO!</h6>
              </div>

              <div class="modal-body">
                <h6 class="text-semibold">Tem certeza que deseja excluir este cadastro?</h6>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-danger">SIM!</button>

              </div>
            </div>
          </div>
        </div>
        <!-- Modal de delete -->

        <div id="modal_form_vertical_editar" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Editar Cadastro</h5>
              </div>

              <form action="#">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Descrição</label>
                        <input type="text" placeholder="Ex.: Conta de Água" class="form-control">
                      </div>

                      <div class="col-sm-6">
                        <label>Tipo</label>
                        <input type="text" placeholder="Ex.: Conta" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Valor</label>
                        <input type="text" placeholder="Ex.: R$250,00" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>



                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal de edição/ -->

        <!-- modal cadastro -->
        <div id="modal_form_vertical" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Cadastrar Produto</h5>
              </div>

              <form #cadastroproduto="ngForm" (ngSubmit)="gravaproduto(cadastroproduto)">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">

                      <div class="col-sm-4">
                        <label>Codigo do Produto</label>
                        <input type="text" name="codproduto" ngModel class="form-control input-sm" required placeholder="Ex: 01">
                      </div>
                      <div class="col-sm-2">

                        <label>Tipo:</label>
                        <select [(ngModel)]="opserpro" name="opserpro " required class="form-control input-lg">
                          <option value="Produto">Produto</option>
                          <option value="Servico">Seviço</option>
                        </select>
                      </div>
                      <div class="col-sm-6">

                        <label>Nome do Produto/Nome Serviço</label>
                        <input type="text" placeholder="Ex.: HD Externo 500gb/Instalação de Software" ngModel name="nomeproduto" required class="form-control input-lg">
                      </div>
                    </div>
                  </div>
                  <!--Aqui acaba primeiro form group-->



                  <!--Aqui começa form group-->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4">
                        <label>Preço Venda:</label>
                        <input type="text" placeholder="Ex.: R$0,00" ngModel name="precovenda" class="form-control">
                      </div>

                      <div class="col-sm-4">
                        <label>Preço Custo:</label>
                        <input type="text" placeholder="Ex.: R$0,00" ngModel name="precocusto" class="form-control">
                      </div>
                    </div>
                  </div>
                  <!--aqui termina form group-->
                  <!--Aqui começa form group-->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label> Grupo:</label>
                        <input type="text" placeholder="Ex: informática " ngModel name="grupo" class="form-control">
                      </div>
                      <div class="col-sm-4">
                        <label>Estoque:</label>
                        <input type="text" placeholder="Ex: 20" ngModel name="estoque" class="form-control">
                      </div>
                    </div>
                  </div>
                  <!--Aqui termina form group-->

                  <!--Aqui começa form group-->
                  <div class="form-group">
                    <div class="row">

                      <div class="col-sm-4">
                        <label>Status</label>
                        <div class="form-group">
                          <select [(ngModel)]="opstatus" name="status " class="form-control input-lg">
                            <option value="Ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label>Codigo de Barra</label>
                        <input type="text" placeholder="Ex: 00003432402349234" ngModel name="codbarra" class="form-control">

                      </div>

                    </div>
                  </div>
                  <!--Aqui termina form group-->
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- modal cadastro -->
      <!-- modal de dados -->
      <div id="modal_dados_vertical" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Dados do Produto</h5>
            </div>

            <form action="#">
              <div class="modal-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Nome do Produto</label>
                      <br> Marmitex PQ
                    </div>

                    <div class="col-sm-6">
                      <label>Unidade de Medida</label>
                      <br> PC
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>Quantidade Padrão</label>
                      <br> 1
                    </div>

                    <div class="col-sm-6">
                      <label>Valor</label>
                      <br> R$9,00
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-4">
                      <label>Status</label>
                      <br> Ativo
                    </div>


                  </div>
                </div>


              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>

              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- modal de dados -->



      <!-- Basic modal -->
      <div id="modal_default" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Dados do Cliente</h5>
            </div>

            <div class="modal-body">
              <h6 class="text-semibold">Nome/Razão Social:</h6>
              <p>Lorrany Batista de Amorim</p>

              <h6 class="text-semibold">CPF/CNPJ:</h6>
              99999999900

              <h6 class="text-semibold">Telefone:</h6>
              31 33981019

              <h6 class="text-semibold">Celular:</h6>
              31 998515217

              <h6 class="text-semibold">E-mail:</h6>
              lorranybatistaamorim@gmail.com

              <h6 class="text-semibold">CEP:</h6>
              31073010

              <h6 class="text-semibold">Logradouro:</h6>
              Rua Petropólis

              <h6 class="text-semibold">Número:</h6>
              539

              <h6 class="text-semibold">Bairro:</h6>
              Industrial São Luiz

              <h6 class="text-semibold">Cidade:</h6>
              Contagem

              <h6 class="text-semibold">UF:</h6>
              MG


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
      <!-- /basic modal -->




    </div>
  </div>
  <!-- /main content -->
</div>
<!-- /page content -->
<!-- Footer -->
<app-footer></app-footer>
<!-- /footer -->
